.title {
  margin-bottom: 50px !important;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: #333;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3333333333333333;
}
