$containerHeight: 60vh;
$containerWidth: 100%;
.container {
  height: $containerHeight;
  width: $containerWidth;
}

:export {
  containerHeight: $containerHeight;
  containerWidth: $containerWidth;
}
